<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MK Test Automation Test Suite">
	
	<listeners>
		<listener class-name="com.mk.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	

	<test name="MK App Test Cases">
		<classes>
			<class name="com.mk.test.TestRunner2"></class>
			<class name="com.mk.test.TestRunner"></class>
			</classes>
	</test>
</suite>